# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/target/
/.settings/
/.git/
/.metadata/

# IDEs and editors
.project
.classpath
/deployments/
.tern-project
.DS_Store